.App {
  text-align: center;
  background-color: #c5e4e7;
}

.input-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

/* Styling for the dollar sign */
.input-container::before {
  content: '$';
  margin-right: 5px;
}

/* Styling for the input element */
.input-container input {
  border: none;
  outline: none;
  flex: 1;
  padding: 8px;
  text-align: right;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px; /* Adjust as needed */
  border: 1px solid #ccc;
}

.left-div {
  background-color: #e0e0e0;
  padding: 10px;
}

.right-div {
  background-color: #c0c0c0;
  padding: 10px;
}

.tip-percentage button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
}

.tip-percentage button.selected {
  background-color: #4c8bf5;
  color: white;
}